<div class="container">
  <div class="row mt-5">
      <div class="col-xs-12"  *appUnless="onlyOdd">
          <button (click)="onlyOdd = !onlyOdd" class="btn btn-primary">Only show odd numbers</button>

          <ul class="list-group mt-3">
            <li class="list-group-item"
             
             [ngClass]="{odd: number % 2 !== 0}"
              appBetter
              *ngFor="let number of numbers">
                 {{number}}
            </li>
          </ul>
      </div>
  </div>
</div>